.post-content {
  max-width: 750px;
  margin: 0 auto;
  line-height: 1.5;
  font-size: 1.2rem;

  img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 5px;
  }

  img.size-medium {
    margin-bottom: 5px;
  }

  img.size-normal {
    @media only screen and (min-width: 1200px) {
      width: 150%;
      margin-left: -25%;
    }
  }

  img.size-full {
    @media only screen and (min-width: 1200px) {
      width: 100vw;
      transform: translateX(-50%);
      margin: 0 50% 5px;
    }
  }

  img.alignleft {
    width: 50%;
    float: left;
    border-right: 3px solid var(--background-color);

    @media only screen and (min-width: 1200px) {
      width: 75%;
      margin-left: -25%;
    }

    + .alignleft {
      border-left: 3px solid var(--background-color);
      border-right: 0;

      @media only screen and (min-width: 1200px) {
        margin-left: 0;
        margin-right: -25%;
      }
    }
  }

  a {
    color: #a0814d;
    text-decoration: none;

    &:hover {
      color: #505052;
    }
  }

  iframe {
    width: 100%;
  }
}
